<header>
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <h1>RSVP</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form [formGroup]="rsvpForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
            <p>Attendance</p>
            <label>
              <input type="radio" name="status" value="Count me in!" formControlName="status"> Yes
            </label>
            <label>
              <input type="radio" name="status" value="Next time" formControlName="status"> No
            </label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mr-2" (click)="onViewBtn()">View RSVPs</button>
            <button class="btn btn-primary" [disabled]="!rsvpForm.valid" (click)="onSubmitBtn()">Submit RSVP</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div *ngFor="let r of rsvpData; let i = index">
          <p>{{ i + 1 }}. Name: {{ r.name }}</p>
          <p>Email: {{ r.email }}</p>
          <p>Phone: {{ r.phone }}</p>
          <p>Attendance: {{ r.status }}</p>
        </div>
      </div>
    </div>
  </div>
</main>